### 1. Importing libraries

In [1]:
import pandas as pd
import numpy as np

### 2. Loading dataset

In [2]:
ds = pd.read_csv('Datasets/kc_house_data.csv')

### 3. Exploratory Analysis

In [3]:
ds.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
ds.shape

(21613, 21)

In [5]:
#removendo 'ids' duplicados

ds = ds.drop_duplicates('id')
ds

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [6]:
ds.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

### 4. Business Problems

1. Quantas casas estão disponíveis para compra?
2. Quantos atributos as casas possuem?
3. Quais são os atributos das casas?
4. Qual a casa mais cara ( casa com o maior valor de venda )?
5. Qual a casa com o maior número de quartos?
6. Qual a soma total de quartos do conjunto de dados?
7. Quantas casas possuem 2 banheiros?
8. Qual o preço médio de todas as casas no conjunto de dados?
9. Qual o preço médio de casas com 2 banheiros?
10. Qual o preço mínimo entre as casas com 3 quartos?
11. Quantas casas possuem mais de 300 metros quadrados na sala
de estar?
12. Quantas casas tem mais de 2 andares?
13. Quantas casas tem vista para o mar?
14. Das casas com vista para o mar, quantas tem 3 quartos?
15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?
16. Qual a data do imóvel mais antigo?
17. Quantos imóveis possuem o número máximo de andares?
18. Criar uma classificação para imóveis de baixo padrão e alto padrão ( critérios: baixo padrão <= 540.000 < alto padrão)

### 5. Solution

In [7]:
#1. Quantas casas estão disponíveis para compra?

house_qty = len(ds['id'].unique())
print( 'Estão disponíveis {} imóveis'.format( house_qty ) )

Estão disponíveis 21436 imóveis

In [8]:
#2. Quantos atributos as casas possuem?

# id and date are not considered as attributes

num_att = len(ds.columns) - 2
print( 'Os imóveis posseum {} atributos'. format( num_att ) )

Os imóveis posseum 19 atributos

In [9]:
#3. Quais são os atributos das casas?

df = ds.drop( ['id', 'date'], axis=1 )
print( 'Os atributos são: ') 
print( df.columns.tolist() )

Os atributos são:
['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

In [10]:
#4. Qual a casa mais cara ( casa com o maior valor de venda )?

house_expensive = ds[['id', 'price']].sort_values('price', ascending=False).reset_index().loc[0, 'id']
#ds['price'].max()
print( 'id da casa mais cara: {}'.format( house_expensive ) )

id da casa mais cara: 6762700020

In [11]:
#5. Qual a casa com o maior número de quartos?

house_bedrooms_most = ds[['id', 'bedrooms']].sort_values('bedrooms', ascending=False).reset_index()#.loc[0, 'id']
house_bedrooms_most

       index          id  bedrooms
0      15870  2402100895        33
1       8757  1773100755        11
2      15161  5566100170        10
3      13314   627300145        10
4      19254  8812401450        10
...      ...         ...       ...
21431   3467  1453602309         0
21432   4868  6896300380         0
21433  12653  7849202299         0
21434    875  6306400140         0
21435   8477  2569500210         0

[21436 rows x 3 columns]

In [12]:
house_bedrooms_most = ds[['id', 'bedrooms']].sort_values('bedrooms', ascending=False).reset_index().loc[0, 'id']
print( f'House with biggest number of bedrooms: {house_bedrooms_most}')

House with biggest number of bedrooms: 2402100895

In [13]:
#6. Qual a soma total de quartos do conjunto de dados?

ds['bedrooms'].sum()
print( 'Total sum of bedrooms: {}'.format( ds['bedrooms'].sum() ) )

Total sum of bedrooms: 72273

In [14]:
#7. Quantas casas possuem 2 banheiros?
df = ds[['id', 'bathrooms']]
df

               id  bathrooms
0      7129300520       1.00
1      6414100192       2.25
2      5631500400       1.00
3      2487200875       3.00
4      1954400510       2.00
...           ...        ...
21608   263000018       2.50
21609  6600060120       2.50
21610  1523300141       0.75
21611   291310100       2.50
21612  1523300157       0.75

[21436 rows x 2 columns]

In [15]:
df = df.loc[df['bathrooms']== 2, :]
num_houses = len(df)
num_houses
print( 'Total number of houses with 2 bathrooms: {}'.format( num_houses ) )

Total number of houses with 2 bathrooms: 1913

In [16]:
#8. Qual o preço médio de todas as casas no conjunto de dados?
df = ds[['id', 'price']]
avg_price = np.round(df['price'].mean(), 2)
print( 'Average Price: ${}'.format( avg_price ) )

Average Price: $540529.29

In [17]:
#9. Qual o preço médio de casas com 2 banheiros?
df = ds[['id', 'bathrooms', 'price']]
df = df.loc[df['bathrooms']== 2, :]
avg_price = np.round(df['price'].mean(), 2)
print( 'Average Price of houses with 2 bathrooms: ${}'.format( avg_price ) )

Average Price of houses with 2 bathrooms: $457842.29

In [18]:
#10. Qual o preço mínimo entre as casas com 3 quartos?
df = ds[['id', 'bedrooms', 'price']]
df = df.loc[df['bedrooms']== 3, :]
min_price = df['price'].min()

print( 'Min Price of houses with 3 bedrooms: ${}'.format( min_price ) )

Min Price of houses with 3 bedrooms: $82000.0

In [19]:
#11. Quantas casas possuem mais de 300 metros quadrados na sala

# 1 sqmt = 10.764 sqft 

df = ds[['id', 'sqft_living', 'price']]
df = df.loc[(df['sqft_living']/10.764)  > 300, :]
num_houses = len(df['id'])

print( 'There are {} Houses with living room grater than 300 square meters'.format(num_houses))

There are 2251 Houses with living room grater than 300 square meters

In [20]:
#12. Quantas casas tem mais de 2 andares?

df = ds[['id', 'floors', 'price']]
df = df.loc[df['floors']  > 2, :]
num_houses = len(df['id'])

print( 'There are {} Houses with the number of floors grater than 2'.format(num_houses))

There are 780 Houses with the number of floors grater than 2

In [21]:
#13. Quantas casas tem vista para o mar?
df = ds[['id', 'waterfront']]
df = df.loc[df['waterfront']  == 1, :]
num_houses = len(df['id'])

print( 'There are {} waterfront houses'.format(num_houses))

There are 163 waterfront houses

In [22]:
#14. Das casas com vista para o mar, quantas tem 3 quartos?

df = ds[['id', 'waterfront', 'bedrooms']]
df = df.loc[df['waterfront']  == 1 , :]
df = df.loc[df['bedrooms'] == 3, :]
df
num_houses = len(df['id'])

print( 'There are {} waterfront houses with 3 bedrooms'.format(num_houses))

There are 64 waterfront houses with 3 bedrooms

In [23]:
#15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

# 1 sqmt = 10.764 sqft 

df = ds[['id', 'sqft_living', 'bathrooms']]
df = df.loc[((df['sqft_living']/10.764)  > 300) & (df['bathrooms'] > 2), :]
num_houses = len(df['id'])

print( 'There are {} Houses with living room grater than 300 square meters and more than 2 bathrooms'.format(num_houses))

There are 2194 Houses with living room grater than 300 square meters and more than 2 bathrooms

In [24]:
#16. Qual a data do imóvel mais antigo?
ds['date'] = pd.to_datetime(ds['date'])
oldest_house = ds.sort_values('date', ascending=True).reset_index().loc[0, 'date']

print( 'The oldest house was listed on {}'.format(oldest_house))

The oldest house was listed on 2014-05-02 00:00:00

In [25]:
#17. Quantos imóveis possuem o número máximo de andares?

max_floors = ds['floors'].max()

df = ds[['id', 'floors']].sort_values('floors', ascending=False)
df = df.loc[df['floors'] == max_floors, :]
houses_max_floor = len(df['id'])

print( 'There are {} houses with the maximum number of floors'.format(houses_max_floor))

There are 8 houses with the maximum number of floors

In [26]:
#18. Criar uma classificação para imóveis de baixo padrão e alto padrão ( critérios: baixo padrão <= 540.000 < alto padrão)

ds['standard'] = 'low_standard'
ds.loc[ds['price'] > 540000, 'standard'] = 'high_standard'
ds.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,standard
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,low_standard
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,low_standard
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,low_standard
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,high_standard
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,low_standard

In [27]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\renato.domingues\documents\programfiles\anaconda3\lib\site-packages (5.7.0)
Requirement already satisfied: six in c:\users\renato.domingues\documents\programfiles\anaconda3\lib\site-packages (from plotly) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\renato.domingues\documents\programfiles\anaconda3\lib\site-packages (from plotly) (8.0.1)

In [28]:
import plotly.express as px

In [29]:
data_map = ds[['id', 'lat', 'long', 'price']]

In [ ]:
mapa = px.scatter_mapbox( data_map, lat='lat', lon='long', hover_name='id', hover_data=['price'], color_discrete_sequence=['darkmagenta'], zoom=8, height=300)
mapa.update_layout( mapbox_style='open-street-map')
mapa.update_layout( height=600, margin={'r':0, 't':0,'l':0,'b':0 })
mapa.show()

In [ ]:
mapa.write_html( 'datasets/mapa_report.html')

### 6. New Business Problems

1. Crie uma nova coluna chamada: “house_age”
    * Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
    * Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’
2. Crie uma nova coluna chamada: “dormitory_type”
    * Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’
    * Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
    * Se o valor da coluna “bedrooms” for maior que 2 => ‘house’
3. Crie uma nova coluna chamada: “condition_type”
    * Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
    * Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
    * Se o valor da coluna “condition” for igual à 5 => ‘good’
4. Modifique o TIPO a Coluna “condition” para STRING
5. Delete as colunas: “sqft_living15” e “sqft_lot15”
6. Modifique o TIPO a Coluna “yr_build” para DATE
7. Modifique o TIPO a Coluna “yr_renovated” para DATE
8. Qual a data mais antiga de construção de um imóvel?
9. Qual a data mais antiga de renovação de um imóvel?
10. Quantos imóveis tem 2 andares?
11. Quantos imóveis estão com a condição igual a “regular” ?
12. Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?
13. Quantos imóveis estão com a condição igual a “good” e são “new_house”?
14. Qual o valor do imóvel mais caro do tipo “studio” ?
15. Quantos imóveis do tipo “apartment” foram reformados em 2015 ?
16. Qual o maior número de quartos que um imóveis do tipo “house” possui ?
17. Quantos imóveis “new_house” foram reformados no ano de 2014?
18. Selecione as colunas: “id”, “date”, “price”, “floors”, “zipcode” pelo método:
    * Direto pelo nome das colunas.
    * Pelos Índices.
    * Pelos Índices das linhas e o nome das colunas
    * Índices Booleanos
19. Salve um arquivo .csv com somente as colunas do item 10 ao 17.
20. Modifique a cor dos pontos no mapa de “pink” para “verde-escuro”

In [30]:
#1. Crie uma nova coluna chamada: “house_age”
    #Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
    #Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’

ds['house_age'] = 'old_house'

date_criteria = pd.to_datetime('2014-01-01', format='%Y-%m-%d')
ds.loc[ds['date'] > date_criteria, 'house_age'] = 'new_house'

In [31]:
# 2. Crie uma nova coluna chamada: “dormitory_type”
    # Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’
    # Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
    # Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

ds['dormitory_type'] = ds['bedrooms'].apply( lambda x: 'studio' if x ==1 else 'apartment' if x ==2 else 'house')

In [32]:
# 3. Crie uma nova coluna chamada: “condition_type”
    # Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
    # Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
    # Se o valor da coluna “condition” for igual à 5 => ‘good’

ds['condition_type'] = ds['condition'].apply( lambda x: 'bad' if x <= 2 else 'regular' if x <= 4 else 'good')

In [33]:
#4. Modifique o TIPO a Coluna “condition” para STRING

ds['condition'] = ds['condition'].astype('str')

In [34]:
#5. Delete as colunas: “sqft_living15” e “sqft_lot15”

ds = ds.drop(['sqft_living15' , 'sqft_lot15'], axis=1)
ds.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'standard', 'house_age', 'dormitory_type',
       'condition_type'],
      dtype='object')

In [37]:
#6. Modifique o TIPO a Coluna “yr_build” para DATE

ds['yr_built'] = pd.to_datetime(ds['yr_built'], format='%Y')

In [42]:
#7. Modifique o TIPO a Coluna “yr_renovated” para DATE

#ds['yr_renovated'] = ds['yr_renovated'].apply( lambda x: pd.to_datetime( x, format='%Y') if x > 0 else x )
ds['yr_renovated']

0                          0
1        1991-01-01 00:00:00
2                          0
3                          0
4                          0
                ...
21608                      0
21609                      0
21610                      0
21611                      0
21612                      0
Name: yr_renovated, Length: 21436, dtype: object

In [43]:
#8. Qual a data mais antiga de construção de um imóvel?

oldest_built = ds[['id', 'yr_built']].sort_values('yr_built', ascending=True).reset_index().loc[0, 'yr_built']
oldest_built

Timestamp('1900-01-01 00:00:00')

In [44]:
#9. Qual a data mais antiga de renovação de um imóvel?

oldest_renovated = ds[['id', 'yr_renovated']].sort_values('yr_renovated', ascending=False).reset_index().loc[0, 'yr_renovated']
oldest_renovated

TypeError: '<' not supported between instances of 'int' and 'Timestamp'